{{ define "main" }}
<div class="content-sections">
    <!-- Vulnerabilities Section -->
    <section class="content-section">
        <h1>Vulnerabilities</h1>
        <div class="post-item"> <span class="post-date">2025-05-13</span>
          <a href="https://orca.security/resources/blog/kubernetes-crd-abstraction-risks-kro/" class="post-link">Kubernetes CRD Abstraction Risks in kro</a>
      </div>

      <div class="post-item"> <span class="post-date">2024-04-16</span>
          <a href="https://orca.security/resources/blog/leakycli-aws-google-cloud-command-line-tools-can-expose-sensitive-credentials-build-logs/" class="post-link">LeakyCLI: Cloud CLI Tools Expose Credentials</a>
      </div>
      
      <div class="post-item"> <span class="post-date">2024-01-24</span>
          <a href="https://orca.security/resources/blog/sys-all-google-kubernetes-engine-risk/" class="post-link">Sys:All: Critical GKE Privilege Escalation Vulnerability</a>
      </div>

      <div class="post-item"> <span class="post-date">2023-07-18</span>
          <a href="https://orca.security/resources/blog/bad-build-google-cloud-build-potential-supply-chain-attack-vulnerability/" class="post-link">Bad Build: Supply Chain Attack via Google Cloud Build</a>
      </div>

      <div class="post-item"> <span class="post-date">2023-04-11</span>
          <a href="https://orca.security/resources/blog/azure-shared-key-authorization-exploitation/" class="post-link">Azure Shared Key Authorization Exploitation</a>
      </div>
        <div class="more-link">
            <a href=".">More vulnerabilities</a>
        </div>
    </section>

    <!-- Projects Section -->
    <section class="content-section">
        <h1>Projects</h1>
        <div class="post-item">
            <span class="post-date">2024-08-24</span>
            <a href="https://orca.security/resources/blog/kubernetes-testing-environment/" class="post-link">KTE: OSS Kubernetes Testing Environment</a>
        </div>
        <div class="more-link">
            <a href=".">More projects</a>
        </div>
    </section>

    <!-- Misc Section -->
    <section class="content-section">
        <h1>Misc.</h1>
        <div class="post-item">
            <span class="post-date">2024-08-19</span>
            <a href="https://orca.security/resources/blog/mitigate-cve-2024-38063-critical-rce-vulnerability-windows-ipv6/" class="post-link">Mitigate CVE-2024-38063: Critical RCE Vulnerability in Windows IPv6</a>
        </div>
        
        <div class="post-item">
            <span class="post-date">2024-02-07</span>
            <a href="https://orca.security/resources/blog/leaky-vessels-docker-container-vulnerabilities/" class="post-link">Leaky Vessels: Docker Container Vulnerabilities</a>
        </div>

        <div class="post-item">
            <span class="post-date">2023-12-12</span>
            <a href="https://orca.security/resources/blog/unauthenticated-access-to-google-cloud-dataproc/" class="post-link">Unauthenticated Access to Google Cloud Dataproc</a>
        </div>
    </section>
</div>
{{ end }}
